.nav{
    display: flex;
    width: 100%;
    background-color: #0f292f;
}

.logo{
    height: 6vh;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    color: #cccccc;
    pointer-events: none;
}


.navbar{
    height: 6vh;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.option{
    color: #cccccc;
    text-decoration: none;
    transition: 0.3s;
    margin-right: 10px;
    font-size: 12px;
}
